<!--The content below is only a placeholder and can be replaced.-->
<section class="hero is-medium is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <app-random-quote></app-random-quote>
    </div>
  </div>
</section>
<section>
    <nav class="level">
        <div class="level-item has-text-centered">
            <a class="button button-quote is-outlined is-large is-dark" (click)="onClickMe()">
              Generate Random Quote
            </a>
        </div>
      </nav>
  
</section>
